*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#nav{
    width: 100%;
    height: 100px;
    grid-area:nav ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8c42;
}
#nav ul{
    display: flex;
    list-style: none;
    gap: 100px;
    margin-right: 20%;
    font-size: large;
}
#nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(73, 7, 7);
    border-radius: 5px;
    padding: 10px;
}
#nav a:hover{
    color: rgb(255, 255, 255);
}
#nav img{
    margin-left: 40px;
}
#menu{
    width: 100%;
    height: 100%;
    background-color:  #fca672;
    grid-area:menu ; 
    display: flex;          
    flex-direction: column; 
    gap: 20px;              
    padding: 20px; 
    align-items: center;   
}
#menu button {
    padding: 15px;
    background-color:#ff8c42;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;   
    text-align: center;
}
#menu button:hover{
    color:#ff4c29;
}
#main{
    width: 100%;
    height: 600px;
    background-color:  #fcd3ba;
    grid-area:main ;  
    justify-content: center;
    padding: 20px;
}
h1{
    align-items: flex-start; 
    text-align: center;
    margin-top: 30px;
}
#main ul{
    list-style: none;
    display: flex;
    gap: 50px;
    width: 100%; 
    align-items: flex-end; 
    padding: 20px;
    margin-left: 7%;
    margin-top: 60px;
}
#main ul p{
    text-align: center;
    padding: 40px;
    font-size: 20px;
}
#footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area:footer ;  
    background-color:#ff8c42;  
}
#footer #p1{
    text-align: left;
    text-indent: 10px;
    font-size: 15px;
}
#footer #p2 p{
    text-align: center;
    font-size: 15px;
}
#footer ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;  
}
#footer #p3{
    text-align: right;
    font-size: 15px;
    margin-right: 20px;
}
#footer a{
    text-decoration: none;
}
#mainGrid{
    display: grid;
    grid-template-areas: 'nav nav nav'
                         'menu main main'
                         'menu footer footer';
}