.task6{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    margin: auto;
}
.card{
    text-align: center;
    padding: 10px;
}
.card img{
    width: 100%;
    height: 150px;
}
.card button{
    background-color: black;
    color: white;
    border: none;
}