h1{
    text-align: center;
    font-size: 70px;
}
p{
    background-color: rgb(235, 203, 235);
    color: rgb(216, 112, 147);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* ins{
    background-color: rgb(255, 228, 196);
    font-size: 30px;
}
ul{
    background-color: rgb(255, 192, 203);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page{
    color: rgb(126, 111, 83);
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;

}


