*{
    margin: 0%;
    padding: 0%;
}
#navbar{
    display: flex;
    background-color:lightblue;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding:0 20px ;
}
img{
    border-radius:40px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 90px;
}
a{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;   
}
a:hover{
    background-color:lightgray;
}
button{
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;  
}
button:hover{
    background-color: lightgray;  
}